# Extract Transform Load (ETL) Pipeline Preparation

1. Import libraries and load datasets.

Import Python libraries
- Load `messages.csv` into a dataframe and inspect the first few lines.
- Load `categories.csv` into a dataframe and inspect the first few lines.

In [1]:
# import libraries
import sys
import pandas as pd
import numpy as np
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
from sqlalchemy import create_engine

In [2]:
# load disaster messages dataset
messages = pd.read_csv('./data/disaster_messages.csv')
messages.head()

   id                                            message                                           original   genre
0   2  Weather update - a cold front from Cuba that c...  Un front froid se retrouve sur Cuba ce matin. ...  direct
1   7            Is the Hurricane over or is it not over                 Cyclone nan fini osinon li pa fini  direct
2   8                    Looking for someone but no name  Patnm, di Maryani relem pou li banm nouvel li ...  direct
3   9  UN reports Leogane 80-90 destroyed. Only Hospi...  UN reports Leogane 80-90 destroyed. Only Hospi...  direct
4  12  says: west side of Haiti, rest of the country ...  facade ouest d Haiti et le reste du pays aujou...  direct

In [3]:
#check how many uniques entries are in genre column
messages.genre.value_counts()

news      13068
direct    10782
social     2398
Name: genre, dtype: int64

In [4]:
messages.id.value_counts()

24779    3
17079    2
13914    2
15576    2
29119    2
        ..
9807     1
9806     1
9805     1
9804     1
30265    1
Name: id, Length: 26180, dtype: int64

In [5]:
# load categories dataset
categories = pd.read_csv('./data/disaster_categories.csv')
categories.head()

   id                                         categories
0   2  related-1;request-0;offer-0;aid_related-0;medi...
1   7  related-1;request-0;offer-0;aid_related-1;medi...
2   8  related-1;request-0;offer-0;aid_related-0;medi...
3   9  related-1;request-1;offer-0;aid_related-1;medi...
4  12  related-1;request-0;offer-0;aid_related-0;medi...

In [6]:
categories.id.value_counts()

24779    3
17079    2
13914    2
15576    2
29119    2
        ..
9807     1
9806     1
9805     1
9804     1
30265    1
Name: id, Length: 26180, dtype: int64

**2. Merge the two datasets.**
- Merge the messages and categories datasets using the common id
- Assign this combined dataset to the dataframe df, which will be cleaned in the following steps

In [7]:
df = pd.merge(messages, categories, how="inner", on=["id"])
df.head()

   id                                            message                                           original   genre                                         categories
0   2  Weather update - a cold front from Cuba that c...  Un front froid se retrouve sur Cuba ce matin. ...  direct  related-1;request-0;offer-0;aid_related-0;medi...
1   7            Is the Hurricane over or is it not over                 Cyclone nan fini osinon li pa fini  direct  related-1;request-0;offer-0;aid_related-1;medi...
2   8                    Looking for someone but no name  Patnm, di Maryani relem pou li banm nouvel li ...  direct  related-1;request-0;offer-0;aid_related-0;medi...
3   9  UN reports Leogane 80-90 destroyed. Only Hospi...  UN reports Leogane 80-90 destroyed. Only Hospi...  direct  related-1;request-1;offer-0;aid_related-1;medi...
4  12  says: west side of Haiti, rest of the country ...  facade ouest d Haiti et le reste du pays aujou...  direct  related-1;request-0;offer-0;aid_related-0;medi...

In [8]:
df.genre.value_counts()

news      13128
direct    10852
social     2406
Name: genre, dtype: int64

**3. Split categories into separate category columns.**

- Split the values in the categories column on the `;` character so that each value becomes a separate column. 
- Use the first row of categories dataframe to create column names for the categories data.
- Rename columns of categories with new column names.

In [9]:
categories = df.categories.str.split(';',expand=True)
categories.head()

          0          1        2              3               4                   5                    6           7           8              9        10      11         12          13       14                15          16       17           18                        19           20           21             22       23           24       25             26                      27                 28        29       30      31            32      33               34               35
0  related-1  request-0  offer-0  aid_related-0  medical_help-0  medical_products-0  search_and_rescue-0  security-0  military-0  child_alone-0  water-0  food-0  shelter-0  clothing-0  money-0  missing_people-0  refugees-0  death-0  other_aid-0  infrastructure_related-0  transport-0  buildings-0  electricity-0  tools-0  hospitals-0  shops-0  aid_centers-0  other_infrastructure-0  weather_related-0  floods-0  storm-0  fire-0  earthquake-0  cold-0  other_weather-0  direct_report-0
1  related-1  request-0  offer-0  aid_related-1  medical_help-0  medical_products-0  search_and_rescue-0  security-0  military-0  child_alone-0  water-0  food-0  shelter-0  clothing-0  money-0  missing_people-0  refugees-0  death-0  other_aid-1  infrastructure_related-0  transport-0  buildings-0  electricity-0  tools-0  hospitals-0  shops-0  aid_centers-0  other_infrastructure-0  weather_related-1  floods-0  storm-1  fire-0  earthquake-0  cold-0  other_weather-0  direct_report-0
2  related-1  request-0  offer-0  aid_related-0  medical_help-0  medical_products-0  search_and_rescue-0  security-0  military-0  child_alone-0  water-0  food-0  shelter-0  clothing-0  money-0  missing_people-0  refugees-0  death-0  other_aid-0  infrastructure_related-0  transport-0  buildings-0  electricity-0  tools-0  hospitals-0  shops-0  aid_centers-0  other_infrastructure-0  weather_related-0  floods-0  storm-0  fire-0  earthquake-0  cold-0  other_weather-0  direct_report-0
3  related-1  request-1  offer-0  aid_related-1  medical_help-0  medical_products-1  search_and_rescue-0  security-0  military-0  child_alone-0  water-0  food-0  shelter-0  clothing-0  money-0  missing_people-0  refugees-0  death-0  other_aid-1  infrastructure_related-1  transport-0  buildings-1  electricity-0  tools-0  hospitals-1  shops-0  aid_centers-0  other_infrastructure-0  weather_related-0  floods-0  storm-0  fire-0  earthquake-0  cold-0  other_weather-0  direct_report-0
4  related-1  request-0  offer-0  aid_related-0  medical_help-0  medical_products-0  search_and_rescue-0  security-0  military-0  child_alone-0  water-0  food-0  shelter-0  clothing-0  money-0  missing_people-0  refugees-0  death-0  other_aid-0  infrastructure_related-0  transport-0  buildings-0  electricity-0  tools-0  hospitals-0  shops-0  aid_centers-0  other_infrastructure-0  weather_related-0  floods-0  storm-0  fire-0  earthquake-0  cold-0  other_weather-0  direct_report-0

In [10]:
categories[0].value_counts()

related-1    20042
related-0     6140
related-2      204
Name: 0, dtype: int64

In [11]:
#get the first row
row = categories.loc[0]
row

0                    related-1
1                    request-0
2                      offer-0
3                aid_related-0
4               medical_help-0
5           medical_products-0
6          search_and_rescue-0
7                   security-0
8                   military-0
9                child_alone-0
10                     water-0
11                      food-0
12                   shelter-0
13                  clothing-0
14                     money-0
15            missing_people-0
16                  refugees-0
17                     death-0
18                 other_aid-0
19    infrastructure_related-0
20                 transport-0
21                 buildings-0
22               electricity-0
23                     tools-0
24                 hospitals-0
25                     shops-0
26               aid_centers-0
27      other_infrastructure-0
28           weather_related-0
29                    floods-0
30                     storm-0
31                      fire-0
32                earthquake-0
33                      cold-0
34             other_weather-0
35             direct_report-0
Name: 0, dtype: object

In [12]:
# Remove the last two character in each of the entries above
category_colnames = categories.loc[0].apply(lambda x : x[:-2])
category_colnames

0                    related
1                    request
2                      offer
3                aid_related
4               medical_help
5           medical_products
6          search_and_rescue
7                   security
8                   military
9                child_alone
10                     water
11                      food
12                   shelter
13                  clothing
14                     money
15            missing_people
16                  refugees
17                     death
18                 other_aid
19    infrastructure_related
20                 transport
21                 buildings
22               electricity
23                     tools
24                 hospitals
25                     shops
26               aid_centers
27      other_infrastructure
28           weather_related
29                    floods
30                     storm
31                      fire
32                earthquake
33                      cold
34             other_weather
35             direct_report
Name: 0, dtype: object

In [13]:
# Use category_colnames as the columns names for the categories dataframe
categories.columns = category_colnames

In [14]:
categories.head()

0    related    request    offer    aid_related    medical_help    medical_products    search_and_rescue    security    military    child_alone    water    food    shelter    clothing    money    missing_people    refugees    death    other_aid    infrastructure_related    transport    buildings    electricity    tools    hospitals    shops    aid_centers    other_infrastructure    weather_related    floods    storm    fire    earthquake    cold    other_weather    direct_report
0  related-1  request-0  offer-0  aid_related-0  medical_help-0  medical_products-0  search_and_rescue-0  security-0  military-0  child_alone-0  water-0  food-0  shelter-0  clothing-0  money-0  missing_people-0  refugees-0  death-0  other_aid-0  infrastructure_related-0  transport-0  buildings-0  electricity-0  tools-0  hospitals-0  shops-0  aid_centers-0  other_infrastructure-0  weather_related-0  floods-0  storm-0  fire-0  earthquake-0  cold-0  other_weather-0  direct_report-0
1  related-1  request-0  offer-0  aid_related-1  medical_help-0  medical_products-0  search_and_rescue-0  security-0  military-0  child_alone-0  water-0  food-0  shelter-0  clothing-0  money-0  missing_people-0  refugees-0  death-0  other_aid-1  infrastructure_related-0  transport-0  buildings-0  electricity-0  tools-0  hospitals-0  shops-0  aid_centers-0  other_infrastructure-0  weather_related-1  floods-0  storm-1  fire-0  earthquake-0  cold-0  other_weather-0  direct_report-0
2  related-1  request-0  offer-0  aid_related-0  medical_help-0  medical_products-0  search_and_rescue-0  security-0  military-0  child_alone-0  water-0  food-0  shelter-0  clothing-0  money-0  missing_people-0  refugees-0  death-0  other_aid-0  infrastructure_related-0  transport-0  buildings-0  electricity-0  tools-0  hospitals-0  shops-0  aid_centers-0  other_infrastructure-0  weather_related-0  floods-0  storm-0  fire-0  earthquake-0  cold-0  other_weather-0  direct_report-0
3  related-1  request-1  offer-0  aid_related-1  medical_help-0  medical_products-1  search_and_rescue-0  security-0  military-0  child_alone-0  water-0  food-0  shelter-0  clothing-0  money-0  missing_people-0  refugees-0  death-0  other_aid-1  infrastructure_related-1  transport-0  buildings-1  electricity-0  tools-0  hospitals-1  shops-0  aid_centers-0  other_infrastructure-0  weather_related-0  floods-0  storm-0  fire-0  earthquake-0  cold-0  other_weather-0  direct_report-0
4  related-1  request-0  offer-0  aid_related-0  medical_help-0  medical_products-0  search_and_rescue-0  security-0  military-0  child_alone-0  water-0  food-0  shelter-0  clothing-0  money-0  missing_people-0  refugees-0  death-0  other_aid-0  infrastructure_related-0  transport-0  buildings-0  electricity-0  tools-0  hospitals-0  shops-0  aid_centers-0  other_infrastructure-0  weather_related-0  floods-0  storm-0  fire-0  earthquake-0  cold-0  other_weather-0  direct_report-0

**4. Convert category values to just numbers 0 or 1.**

- Here, use for loop to iterate through the category columns in df to keep only the last character of each string (the 1 or 0). For example, related-0 becomes 0, related-1 becomes 1. And finally convert the string to a numeric value.

In [15]:
for col in categories:
    categories[col] = categories[col].apply(lambda x : x[-1])
    
    categories[col] = categories[col].astype('int')
    
categories.head()

0  related  request  offer  aid_related  medical_help  medical_products  search_and_rescue  security  military  child_alone  water  food  shelter  clothing  money  missing_people  refugees  death  other_aid  infrastructure_related  transport  buildings  electricity  tools  hospitals  shops  aid_centers  other_infrastructure  weather_related  floods  storm  fire  earthquake  cold  other_weather  direct_report
0        1        0      0            0             0                 0                  0         0         0            0      0     0        0         0      0               0         0      0          0                       0          0          0            0      0          0      0            0                     0                0       0      0     0           0     0              0              0
1        1        0      0            1             0                 0                  0         0         0            0      0     0        0         0      0               0         0      0          1                       0          0          0            0      0          0      0            0                     0                1       0      1     0           0     0              0              0
2        1        0      0            0             0                 0                  0         0         0            0      0     0        0         0      0               0         0      0          0                       0          0          0            0      0          0      0            0                     0                0       0      0     0           0     0              0              0
3        1        1      0            1             0                 1                  0         0         0            0      0     0        0         0      0               0         0      0          1                       1          0          1            0      0          1      0            0                     0                0       0      0     0           0     0              0              0
4        1        0      0            0             0                 0                  0         0         0            0      0     0        0         0      0               0         0      0          0                       0          0          0            0      0          0      0            0                     0                0       0      0     0           0     0              0              0

In [16]:
categories.offer

0        0
1        0
2        0
3        0
4        0
        ..
26381    0
26382    0
26383    0
26384    0
26385    0
Name: offer, Length: 26386, dtype: int32

In [17]:
# Confirm that values in each column of the categories dataframe are, in fact, only 0's and 1's.
for col in categories:
    if len(np.unique(categories[col])) != 2:
        print(col, np.unique(categories[col]))

related [0 1 2]
child_alone [0]

We can see that related column has 2 in addition to 1 and 0,
child_alone has only 0 in all of its entries

In [18]:
# Count number of entries where related is 2
categories['related'].value_counts()

1    20042
0     6140
2      204
Name: related, dtype: int64

In [19]:
# Count number of entries
categories['child_alone'].value_counts()

0    26386
Name: child_alone, dtype: int64

In [20]:
# Let's drop child_alone from categories dataframe.
categories.drop('child_alone', axis = 1, inplace = True)

**5. Replace categories column in df with new category columns.**
- Drop the categories column from the df dataframe since it is no longer needed.
- Concatenate df and categories data frames.

In [21]:
#let's drop categories column from the df as it's no longer needed
df.drop('categories', axis = 1, inplace = True)

In [22]:
df.head()

   id                                            message                                           original   genre
0   2  Weather update - a cold front from Cuba that c...  Un front froid se retrouve sur Cuba ce matin. ...  direct
1   7            Is the Hurricane over or is it not over                 Cyclone nan fini osinon li pa fini  direct
2   8                    Looking for someone but no name  Patnm, di Maryani relem pou li banm nouvel li ...  direct
3   9  UN reports Leogane 80-90 destroyed. Only Hospi...  UN reports Leogane 80-90 destroyed. Only Hospi...  direct
4  12  says: west side of Haiti, rest of the country ...  facade ouest d Haiti et le reste du pays aujou...  direct

In [23]:
#let's combine the two dataframes
df = pd.concat([df,categories],axis=1)
df.head(3)

   id                                            message                                           original   genre  related  request  offer  aid_related  medical_help  medical_products  search_and_rescue  security  military  water  food  shelter  clothing  money  missing_people  refugees  death  other_aid  infrastructure_related  transport  buildings  electricity  tools  hospitals  shops  aid_centers  other_infrastructure  weather_related  floods  storm  fire  earthquake  cold  other_weather  direct_report
0   2  Weather update - a cold front from Cuba that c...  Un front froid se retrouve sur Cuba ce matin. ...  direct        1        0      0            0             0                 0                  0         0         0      0     0        0         0      0               0         0      0          0                       0          0          0            0      0          0      0            0                     0                0       0      0     0           0     0              0              0
1   7            Is the Hurricane over or is it not over                 Cyclone nan fini osinon li pa fini  direct        1        0      0            1             0                 0                  0         0         0      0     0        0         0      0               0         0      0          1                       0          0          0            0      0          0      0            0                     0                1       0      1     0           0     0              0              0
2   8                    Looking for someone but no name  Patnm, di Maryani relem pou li banm nouvel li ...  direct        1        0      0            0             0                 0                  0         0         0      0     0        0         0      0               0         0      0          0                       0          0          0            0      0          0      0            0                     0                0       0      0     0           0     0              0              0

**6. Remove duplicates.**
- Check how many duplicates are in this dataset.
- Drop the duplicates.
- Confirm duplicates were removed.

In [24]:
# Check for duplicates
print('There are', sum(df.duplicated()), 'duplicates in the dataset.')

There are 170 duplicates in the dataset.

In [25]:
df.id.count()

26386

In [26]:
df.id.nunique()

26180

In [27]:
# check number of duplicates
df.id.count()-df.id.nunique()

206

In [28]:
# drop duplicates
df.drop_duplicates(inplace=True)

In [29]:
# check number of duplicates

print('There are', sum(df.duplicated()), 'duplicates in the dataset.')

There are 0 duplicates in the dataset.

In [30]:
# Remove rows from the dataset where related column has a value of 2
#df = df[df['related'] != 2]
df = df.loc[df["related"] != 2]

In [31]:
# Confirm that values in the related column of the df dataframe are, in fact, only 0's and 1's.
df.related.value_counts()

1    19906
0     6122
Name: related, dtype: int64

**7. Save the clean dataset into an sqlite database.**

We can do this with pandas to_sql method combined with the SQLAlchemy library.

In [32]:
engine = create_engine('sqlite:///disaster.db')
df.to_sql('disaster_response_table', engine, index=False)

26028

#### 8. We shall use this notebook to complete etl_pipeline.py

Later we shall use this notebook to write a script that runs the steps above to create a database based on new datasets specified by the user.

In [33]:
pwd

'C:\\Users\\User\\Documents\\Data_Mining_Final_Project'